body{
    padding: 0px;
    margin: 0px; 
    font-family: 'Open Sans', sans-serif;
    background-color: #333333;
}

nav {
    display: inline-block;
    width: 100vw;
    height: 3vh;
    margin: 0px;
}
    
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #10243B;
    
  }
  
li {
    
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    
}

.text-r{
    color: lightblue;
    font-size: 12px;
    
}

nav div#right-side{
    float: right;
    margin-top: 0vh;
}

nav div#left-side{
    float: left;
    margin-top: 15px;
}

#logo{
    margin-top: 0.4vh;
}

#hero{
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0), transparent), url(images/graduation.jpg);
    width: 100vw;
    height: 97vh;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Explore CCHS */

div#exploreheader{
    height: 100px;
    width: 100vw;
    text-align: center;
    background-color: #10243B;
}

div#divider{
    width: 100vw;
    height: 10px;
    background-color: #a3dde8;
}

h2{
    margin: 0px;
    color: white;
    padding-top: 30px;
}

div#exploreboxes{
    height: 400px;
    width: 100vw;
    background-color: white;
    display: inline-block;
}

.patriotplaza{
    height: 100%;
    width: 24.55%;
    background-image: url(images/patriots%20plaza.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.college{
    height: 100%;
    width: 24.55%;
    background-image: url(images/college.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.ccnn{
    height: 100%;
    width: 24.55%;
    background-image: url(images/ccnn.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.ccnn-live{
    height: 100%;
    width: 24.55%;
    background-image: url(images/ccnn\ live.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
}

a {
    text-decoration: none;
    /* scroll-behavior: smooth; */
 }

 /* Part Below EXPLORE CCHS */

div#container{
    padding: 30px 0px 20px;
    background-color: #FFFFFF;
    text-align: center;
}

h2.style{
    font: 48px "PT Sans Narrow", sans-seriff;
    color: #333333;
    text-align: center;
    padding-bottom: 30px;
}

h3.title{
    color: red;
    margin-bottom: 10px;
    font: 30px "PT Sans Narrow", sans-serif;
}

.textslide{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    width: 20%;
}

.imagescarosuel{
    
    height: 282px;
    width: 287.69px;
}

div.description{
    color: #333333;
    font: "Open Sans", sans-seriff;
    font-size: 16px;
    margin: 10px 0px;
}