body{
    padding: 0px;
    margin: 0px; 
    font-family: 'Open Sans', sans-serif;
    background-color: #333333;
}

nav {
    display: inline-block;
    width: 100vw;
    height: 3vh;
}
    
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #10243B;
    
  }
  
li {
    
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    
}

.text-r{
    color: lightblue;
    font-size: 12px;
    
}

nav div#right-side{
    float: right;
    margin-top: 0vh;
}

nav div#left-side{
    float: left;
    margin-top: 15px;
}

#logo{
    margin-top: 0.4vh;
}

#carousel{
    background-image: url(images/graduation.jpg);
    width: 100vw;
    height: 97vh;;
    background-repeat: no-repeat;
    background-size: cover;
}
